@charset "utf-8";

// ---------------------$variable---------------------
$mainColor: #ffd800; // 主体颜色，黄色
// $lightMainColor: #f890a0; // 主体颜色-浅
// $middleMainColor: #dd4333; // 主体颜色-中
// $darkMainColor: #f0433c;

$bgColor1: #fff; // 白色
$bgColor2: #3b3619; // 黑色
$bgColor3: #d8b700; // 黄色偏黑色

$borderColor1: hsla(0, 0%, 0%, 0.4); // 半透明黑

$fontColor1: #3b3619; // 黑色
$fontColor2: #fff; // 白色
$fontColor3: #3cadf9; // 蓝色
